@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para el body */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px; /* Base font size */
  line-height: 1.5; /* Ajusta según sea necesario */
}

/* Estilos para los encabezados */
h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

/* Estilo para párrafos */
p {
  font-size: 1rem;
}

/* Estilo para texto pequeño */
small {
  font-size: 0.833rem;
}

/* Asegurar que los encabezados tengan el peso correcto */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

fieldset {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
